@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@mixin color {
  color: #314e59;
  background: #f3f4ea;
}

* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  font-family: "Nunito", sans-serif;
}

.oleg {
  font-size: 32px;
}

.nav {
  @include color;
  display: flex;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
}



.navbar {
  &-left {
    flex-grow: 1;
    ul {
      display: flex;
      font-size: 24px;
      li {
        a {
          color: #314e59;
          font-weight: 400;
          margin-right: 32px;
          font-family: 'Roboto', sans-serif;
          // &:hover {
          //   border-bottom: 2px solid #314e59;
          // }
          &.active-item {
            border-bottom: 2px solid #314e59;
          }
        }
      }
    }
  }
  &-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 48px;
      font-weight: 400;
      padding-left: 20px;
    }
    // padding-right: 160px;
  }
  &-right {
    justify-content: right;
    align-items: center;
    flex-grow: 2;
    display: flex;
  }
  &-menu{
    display: none;
  }
}

button {
  background-color: transparent;
  border: 4px solid #314e59;
  width: 193px;
  height: 64px;
  font-size: 24px;
  color: #314e59;
  font-weight: 400;
}

.header {
  &-content {
    position: relative;
    line-height: 0;

    img {
      width: 100%;
    }
    h1{
      position: absolute;
      top: 78px;
      left: 53px;
      font: bold 96px 'Nunito'; 
      color: #D5D9C7
    }
    h3{
      position: absolute;
      top: 227px;
      left: 59px;
      font: normal 36px 'Roboto'; 
      color: #D5D9C7
    }
  }
}



.main{
  h2{
    font-size: 72px; 
    color: #314e59;
    padding-top: 140px;
    padding-bottom: 60px;
    text-align: center;
  }
  & .classes{
    text-align: center;
    // padding-left: 10%;
    // padding-right: 10%;

    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 196px;
      padding-right: 196px;
      gap: 60px;
      li {
        flex: 40%;
        line-height: 0;
        position: relative;

        img{
          width: 100%;
          height: auto;
        }
        
        & .class-description{
          position: absolute;
          height: 37%;
          width: 70%;
          top:50%;
          left:50%;
          transform:translate(-50%,-50%);
          background: rgba(242, 244, 234, 0.75);
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
          gap: 8%;
          h3 {
            line-height: 100%;
            // text-align: center;
            font-size: 2.3vw;
            color: #314e59;
          }
          h4 {
            line-height: 100%;
            // text-align: center;
            font: normal 1.3vw 'Roboto'; 
            color: #C15750
          }
        }
        
      }
      
    }

    button{
      margin-top: 68px;
    }
  }

  & .about-gym{
    position: relative;
    margin-top: 156px;
    width: 100%;
    height: 640px;
    background-color: #314e59;
    color: #F2F4EA;
    & .centered{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 1500px;
      transform:translate(-50%,-50%);
      h3 {
        text-align: center;
        font-size: 28px;
        padding-bottom: 40px;
      }
      p{
        text-align: center;
        font: normal 24px 'Roboto'; 
        line-height: 45px;
      }
    }
  }
  & .abonements{
    margin-bottom: 156px;
    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      // align-content: flex-start;
      gap: 60px;
      li.abonement {
        position: relative;
        width: 456px;
        height: 735px;
        background-color: #F4F8E7;
        border: 5px solid #314e59;
        color: #314e59;
        font-weight: bold;
        & .content{
          position: absolute;
          text-align: center;
          top: 50%;
          left: 50%;
          width: 400px;
          transform:translate(-50%,-50%);
          h3 {
            font-size: 36px;
            margin: 20px;
          }
          p.price{
            margin: 40px;
            & .amount{
              color:#C15750;
              font-size: 48px;
            }
            & .dollar::before{
              color:#C15750;
              font-size: 32px;
              content: "₴";
            }
            & .month{
              color: #8AA0A8;
              font-size: 20px;
            }
          }
          ul.benefits{
            display: block;
            line-height: 2.8;
            li.benefit{
              font-size: 24px;
            }
          }
        }
        button{
          margin-top: 80px;
        }
      }
    }
  }
} 

.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 540px;
  background-color: #314e59;
  gap: 35px;
  &-item{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    color: #F2F4EA;
    font: normal 24px 'Roboto'; 
    & .title{
      font: normal 48px 'Nunito'; 
    }
    &.first{
      margin-bottom: 25px;
    }

  }
  &-address{
    max-width: 365px;
    line-height: 40px;
  }
}


@media (max-width: 1400px) {
  .navbar {
    &-left {
      ul {
        font-size: 20px;
      }
    }
    &-center{
      h3{
        font-size: 36px
      }
      img{
        width: 77px;
        height: auto;
      }
    }
  }
  
  button {
    width: 168px;
    height: 52px;
    font-size: 20px;
  }

  .main {
    & .classes {
      ul {
        padding-left: 0px;
        padding-right: 0px;

        // li {
          // flex: auto;
        // }

      }

    }
  }

  .nav {
    height: 100px;
    padding-left: 60px;
    padding-right: 60px;
  }
};

@media (max-width: 1200px) {
  .navbar {
    &-left {
      ul {
        font-size: 18px;
        li{
          a{
            margin-right: 24px;
          }
        }
      }
    }
    &-center{
      h3{
        font-size: 32px
      }
      img{
        width: 66px;
        height: auto;
      }
    }
  }
  
  button {
    width: 140px;
    height: 40px;
    font-size: 18px;
    border-width: 3px;
  }

  .nav {
    height: 90px;
    padding-left: 60px;
    padding-right: 60px;
  }
};

@media (max-width: 992px) {
  .navbar {
    &-left {
      display: none;
    }
    &-center{
      justify-content: flex-start;
      h3{
        font-size: 32px
      }
      img{
        width: 70px;
        height: auto;
      }
    }
    &-right{
      display: none;
    }
    &-menu{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 30px;
    }
  }
  
  button {
    width: 140px;
    height: 40px;
    font-size: 18px;
    border-width: 3px;
  }

  .nav {
    justify-content: space-between;
    height: 90px;
    padding-left: 60px;
    padding-right: 60px;
  }
};


@media (max-width: 768px) {
  .nav {
    padding-left: 40px;
    padding-right: 40px;
  }
};

@media (max-width: 576px) {
  .navbar {
    &-center{
      h3{
        display: none;
      }
      img{
        width: 64px;
        height: auto;
      }
    }
    &-menu{
      gap: 20px;
    }
  }

  .nav {
    height: 84px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .footer{
    // display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 150px;
    border-top-left-radius: 115px;
    border-top-right-radius: 115px;
    gap: 14px 32px;
    &-item{
      display: flex;
      gap: 14px 32px;
      justify-content: center;
      align-items: center;
      color: #F2F4EA;
      font: normal 24px 'Roboto'; 
      & .title{
        font-size: 20px;
      }
      &.first{
        flex-basis: 100%;
        margin-bottom: 0px;
        gap: 12px;
        img{
          width: 48px;
          height: auto;
          order: 1;
        }
      }
    }
    &-address{
      display: none;
    }
    &-phone{
      display: none;
    }
    & :nth-child(2) { order: 1; }
    & :nth-child(3) { order: 2; }
    & :nth-child(4) { order: 3; }
    & :nth-child(1) { order: 4; }
    & :last-child{
      & :first-child{
        order: 1;
      }
    }
  }
};